unpackaged/main/default/flows/Copy_Party_Address_between_Shipping_and_Billing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assigns new shipping address values according to the billing address.</description>
        <name>Billing_To_Shipping_Assignment</name>
        <label>Billing To Shipping Assignment</label>
        <locationX>812</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>svar_Party.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_Party.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_Party.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_Party.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_Party.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_Party.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_Party.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_Party.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_Party.litify_pm__lit_Shipping_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_Party.litify_pm__lit_Billing_County__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_Party.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_Party.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Party</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns new billing address values according to the shipping address.</description>
        <name>Shipping_To_Billing_Assignment</name>
        <label>Shipping To Billing Assignment</label>
        <locationX>808</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>svar_Party.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_Party.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_Party.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_Party.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_Party.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_Party.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_Party.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_Party.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_Party.litify_pm__lit_Billing_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_Party.litify_pm__lit_Shipping_County__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_Party.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_Party.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Party</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>The action of Copy Billing Address details to Shipping was chosen.</description>
        <name>choiceBillingToShipping</name>
        <choiceText>Copy Billing Address details to Shipping</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>billingToShipping</stringValue>
        </value>
    </choices>
    <choices>
        <description>The action of Copy Shipping Address details to Billing was chosen.</description>
        <name>choiceShippingToBilling</name>
        <choiceText>Copy Shipping Address details to Billing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>shippingToBilling</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Check the selected action.</description>
        <name>Action_Check</name>
        <label>Action Check</label>
        <locationX>432</locationX>
        <locationY>145</locationY>
        <defaultConnector>
            <targetReference>Shipping_To_Billing_Preview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Shipping To Billing</defaultConnectorLabel>
        <rules>
            <name>Billing_To_Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_action_to_perform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceBillingToShipping</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_To_Shipping_Preview</targetReference>
            </connector>
            <label>Billing To Shipping</label>
        </rules>
    </decisions>
    <description>Flow that will copy the Shipping or Billing address either way. This is triggered from a custom action on the Party record.</description>
    <interviewLabel>Copy Party Address between Shipping and Billing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Party Address between Shipping and Billing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get a record of the current Party.</description>
        <name>Get_Current_Party</name>
        <label>Get Current Party</label>
        <locationX>305</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Action_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>svar_Party</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>litify_pm__lit_Shipping_County__c</queriedFields>
        <queriedFields>litify_pm__lit_Billing_County__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates the address details of the current Party.</description>
        <name>Update_Current_Party</name>
        <label>Update Current Party</label>
        <locationX>980</locationX>
        <locationY>152</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>svar_Party</inputReference>
    </recordUpdates>
    <screens>
        <description>Preview changes to the address details of the Party record.</description>
        <name>Billing_To_Shipping_Preview</name>
        <label>Billing To Shipping Preview</label>
        <locationX>685</locationX>
        <locationY>230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Billing_To_Shipping_Assignment</targetReference>
        </connector>
        <fields>
            <name>PreviewBillingToShipping</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;You are going to update &lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Shipping&lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt; Address details with current &lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Billing&lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt; Address details. Please, review information below and click &#39;Next&#39; button to process:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Shipping Street Old: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.ShippingStreet}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Shipping Street New: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.BillingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;---&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Shipping City Old: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.ShippingCity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Shipping City New: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.BillingCity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;--- &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Shipping Zip/Postal Code Old: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.ShippingPostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Shipping Zip/Postal Code New: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.BillingPostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;--- &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Shipping State/Province Old: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.ShippingState}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Shipping State/Province New: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.BillingState}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;--- &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Shipping County Old: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.&lt;/span&gt;litify_pm__lit_Shipping_County__c&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Shipping County New: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.&lt;/span&gt;litify_pm__lit_Billing_County__c&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;--- &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Shipping Country Old: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.ShippingCountry}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Shipping Country New: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.BillingCountry}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Select one of the proposed actions.</description>
        <name>Select_Action_Screen</name>
        <label>Select Action Screen</label>
        <locationX>171</locationX>
        <locationY>143</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Current_Party</targetReference>
        </connector>
        <fields>
            <name>Please_select_action_to_perform</name>
            <choiceReferences>choiceShippingToBilling</choiceReferences>
            <choiceReferences>choiceBillingToShipping</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select action to perform:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Preview changes to the address details of the Party record.</description>
        <name>Shipping_To_Billing_Preview</name>
        <label>Shipping To Billing Preview</label>
        <locationX>682</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Shipping_To_Billing_Assignment</targetReference>
        </connector>
        <fields>
            <name>PreviewShippingToBilling</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;You are going to update Billing Address details with current Shipping Address details. Please, review information below and click &#39;Next&#39; button to process:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Billing Street Old: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.BillingStreet} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Billing Street New: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.ShippingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;---&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Billing City Old: &lt;/b&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.BillingCity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Billing City New: &lt;/b&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.ShippingCity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;--- &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Billing Zip/Postal Code Old: &lt;/b&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.BillingPostalCode} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Billing Zip/Postal Code New: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.ShippingPostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;--- &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Billing State/Province Old: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.BillingState}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Billing State/Province New: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.ShippingState}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;--- &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Billing County Old: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.&lt;/span&gt;litify_pm__lit_Billing_County__c&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Billing County New: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.&lt;/span&gt;litify_pm__lit_Shipping_County__c&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;--- &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Billing Country Old: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.BillingCountry}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Billing Country New: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!svar_Party.ShippingCountry}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Success message screen.</description>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1122</locationX>
        <locationY>152</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Address details were successfully updated! &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>143</locationY>
        <connector>
            <targetReference>Select_Action_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id of the current Party record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The record of the current Party.</description>
        <name>svar_Party</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
