unpackaged/main/default/flows/Financials_Resolution_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Attorney_Fees</name>
        <label>Attorney Fees</label>
        <locationX>182</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>$Record.litify_pm__Gross_Attorney_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_GrossAttorneyFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.litify_pm__Net_Attorney_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_NetAttorneyFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Internal_Law_Firm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Matter__r.Internal_Law_Firm__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Contingency_From_Matter</name>
        <label>Set Contingency From Matter</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>$Record.litify_pm__Contingency_Fee_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Matter__r.litify_pm__Contingency_Fee_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Settlement_Amount_Due</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Received</name>
        <label>Set Received</label>
        <locationX>50</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>$Record.Settlement_Verdict_Amount_Received_Bool__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attorney_Fees</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_we_need_Contingency_from_Matter</name>
        <label>Do we need Contingency % from Matter</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Settlement_Amount_Due</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ContingencyFee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Contingency_Fee_Rate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contingency_From_Matter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Internal_Law_Firm</name>
        <label>Internal Law Firm</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Matter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Law_Firm__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_need_Contingency_from_Matter</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Automation</name>
        <label>Run Automation?</label>
        <locationX>358</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Yes_ResolutionAutomation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Run_Automation_Setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Law_Firm</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Settlement_Amount_Due</name>
        <label>Settlement Amount Due</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Attorney_Fees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>X0_Due</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>for_SettlementAmountDue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Settlement_Verdict_Amount_Received_Bool__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Received</targetReference>
            </connector>
            <label>$0 Due</label>
        </rules>
    </decisions>
    <formulas>
        <name>for_GrossAttorneyFee</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!$Record.litify_pm__Contingency_Fee_Rate__c},0) 
* BLANKVALUE({!$Record.litify_pm__Settlement_Verdict_Amount__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>for_NetAttorneyFee</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!for_GrossAttorneyFee},0) -
BLANKVALUE({!$Record.litify_pm__Fees_Due_to_Others__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>for_SettlementAmountDue</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.litify_pm__Settlement_Verdict_Amount__c} - {!$Record.Settlement_Verdict_Amount_Received__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Financials - Resolution - Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Financials - Resolution - Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Matter</name>
        <label>Matter</label>
        <locationX>270</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_need_Contingency_from_Matter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.litify_pm__Matter__c</elementReference>
            </value>
        </filters>
        <object>litify_pm__Matter__c</object>
        <outputAssignments>
            <assignToReference>$Record.Internal_Law_Firm__c</assignToReference>
            <field>Internal_Law_Firm__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Run_Automation_Setting</name>
        <label>Run Automation</label>
        <locationX>358</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Automation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resolution_Automation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Financials__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Automation_Setting</targetReference>
        </connector>
        <object>litify_pm__Resolution__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
