unpackaged/main/default/flows/Financials_Expense_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Expense_Status</name>
        <label>Expense Status</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tab_For_Expense</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Approved</label>
        </rules>
    </decisions>
    <interviewLabel>Financials - Expense - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Financials - Expense - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Transaction</name>
        <label>Create Transaction</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Integration_Sync_Status__c</field>
            <value>
                <stringValue>Ready to Generate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_fin__lit_Account_Source__c</field>
            <value>
                <stringValue>Operating</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_fin__lit_Amount__c</field>
            <value>
                <elementReference>$Record.litify_pm__lit_Amount_Due__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_fin__lit_Group_Template__c</field>
            <value>
                <elementReference>Get_Tab_For_Expense.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_fin__lit_Item__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_fin__lit_Method__c</field>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_fin__lit_Payor_Payee__c</field>
            <value>
                <elementReference>$Record.litify_ext__Payee_Party__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_fin__lit_Related_Record__c</field>
            <value>
                <elementReference>$Record.litify_pm__Matter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_fin__lit_Status__c</field>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_fin__lit_Transaction_Type__c</field>
            <value>
                <stringValue>Debit</stringValue>
            </value>
        </inputAssignments>
        <object>litify_fin__lit_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Tab_For_Expense</name>
        <label>Get Tab For Expense</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expenses Due To Vendors</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_fin__lit_Group_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Expense_Status</targetReference>
        </connector>
        <object>litify_pm__Expense__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
