unpackaged/main/default/flows/Financials_Resolution_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Do_we_need_to_create_a_transaction</name>
        <label>Do we need to create a transaction?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CreateTransaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Settlement_Verdict_Amount_Due__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Settlement_Verdict_Amount_Received_Bool__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Settlement_Verdicts_Group_Template</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Financials - Resolution - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Financials - Resolution - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Transaction</name>
        <label>Create Transaction</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>litify_fin__lit_Account_Source__c</field>
            <value>
                <stringValue>Trust</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_fin__lit_Amount__c</field>
            <value>
                <elementReference>$Record.Settlement_Verdict_Amount_Due__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_fin__lit_Group_Template__c</field>
            <value>
                <elementReference>Settlement_Verdicts_Group_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_fin__lit_Item__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_fin__lit_Payor_Payee__c</field>
            <value>
                <elementReference>$Record.litify_pm__Payor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_fin__lit_Related_Record__c</field>
            <value>
                <elementReference>$Record.litify_pm__Matter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_fin__lit_Requested_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_fin__lit_Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_fin__lit_Transaction_Type__c</field>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </inputAssignments>
        <object>litify_fin__lit_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Settlement_Verdicts_Group_Template</name>
        <label>Settlement Verdicts - Group Template</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Settlement Verdicts</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_fin__lit_Group_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Do_we_need_to_create_a_transaction</targetReference>
        </connector>
        <object>litify_pm__Resolution__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
