unpackaged/main/default/flows/Matter_Emails_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>New_Matter_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>New Matter Notification</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>litify_pm__Matter__c.New_Matter_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>litify_pm__Matter__c.New_Matter_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;A new Matter has been created!\n\nDisplay Name: {![litify_pm__Matter__c].litify_pm__Display_Name__c}\nMatter Name: {![litify_pm__Matter__c].Name}\nCase Type: {![litify_pm__Matter__c].litify_pm__Case_Type__r.Name}\nClient: {![litify_pm__Matter__c].litify_pm__Client__r.Name}\nCreated By: {![litify_pm__Matter__c].CreatedBy.Username}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Post New Matter to Chatter</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>A new Matter has been created!

Display Name: {!myVariable_current.00Nam00000wwsm2__NotFound}
Matter Name: {!myVariable_current.Name}
Case Type: {!myVariable_current.00Nam00000wwsm3__NotFound.Name}
Client: {!myVariable_current.00Nam00000wwsm4__NotFound.Name}
Created By: {!myVariable_current.CreatedBy.Username}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>myWaitAssignment_myWait_myRule_3</name>
        <label>myWaitAssignment_myWait_myRule_3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancelWaits</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>myWait_myRule_3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_3_event_0_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_3_event_0_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_3_event_0_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_3_event_1_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_3_event_1_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_3_event_1_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_3_event_2_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_3_event_2_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_3_event_2_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>New Matter Alert</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>Matter Update (60, 120, 180 Days)</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_3_event_0</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_3_event_0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_3_event_0_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_3_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_3_event_0_postWaitExecutionAssignment</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_3_event_0</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_3_event_1</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_3_event_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_3_event_1_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_3_event_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_3_event_1_postWaitExecutionAssignment</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_3_event_1</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_3_event_2</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_3_event_2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_3_event_2_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_3_event_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_3_event_2_postWaitExecutionAssignment</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_3_event_2</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPreWaitDecision_myWait_myRule_3</name>
        <label>myPreWaitDecision_myWait_myRule_3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitAssignment_myWait_myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPreWaitRule_myWait_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>myPreWaitRule_myWait_myRule_3</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myWait_myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWait_myRule_3</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Alerts and Notifications triggered from various Matter updates</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() 
&amp;&amp; 
NOT(ISPICKVAL([litify_pm__Matter__c].litify_pm__Status__c, &quot;Closed&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() 
&amp;&amp; 
NOT(ISPICKVAL({!myVariable_current.litify_pm__Status__c}, &quot;Closed&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() 
&amp;&amp; 
NOT(ISPICKVAL([litify_pm__Matter__c].litify_pm__Status__c, &quot;Closed&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() 
&amp;&amp; 
NOT(ISPICKVAL({!myVariable_old.litify_pm__Status__c}, &quot;Closed&quot;))</expression>
    </formulas>
    <interviewLabel>Matter_Emails_Notifications-1_InterviewLabel</interviewLabel>
    <label>Matter Email Notifications</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>litify_pm__Matter__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myPreWaitDecision_myWait_myRule_3</startElementReference>
    <status>Draft</status>
    <variables>
        <name>cancelWaits</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>litify_pm__Matter__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_pm__Matter__c</objectType>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_3_event_0_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_3_event_1_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_3_event_2_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <waits>
        <name>myWait_myRule_3</name>
        <label>myWait_myRule_3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_3_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_3_event_0_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_3_event_0</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>litify_pm__Matter__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>60.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>CreatedDate</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_3_event_0</label>
        </waitEvents>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_3_event_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_3_event_1_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_3_event_1</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>litify_pm__Matter__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>120.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>CreatedDate</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_3_event_1</label>
        </waitEvents>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_3_event_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_3_event_2_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_3_event_2</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>litify_pm__Matter__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>180.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>CreatedDate</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_3_event_2</label>
        </waitEvents>
    </waits>
</Flow>
