unpackaged/main/default/flows/Party_Automation_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Date_of_Birth_Text</name>
        <label>Set Date of Birth Text</label>
        <locationX>50</locationX>
        <locationY>709</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_of_Birth_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_Date_Of_Birth_Text</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Date_of_Birth_Set_or_Changed</name>
        <label>Date of Birth Set or Changed</label>
        <locationX>182</locationX>
        <locationY>589</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True1</name>
            <conditionLogic>(1 AND 3) OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Date_of_birth__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Values.litify_pm__Date_of_birth__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Date_of_birth__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Date_of_Birth_Text</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Updated</name>
        <label>New or Updated?</label>
        <locationX>182</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>Prior_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_of_Birth_Set_or_Changed</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <formulas>
        <name>for_Date_Of_Birth_Text</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.litify_pm__Date_of_birth__c} )),TEXT(MONTH( {!$Record.litify_pm__Date_of_birth__c} ))&amp;&quot;/&quot;&amp;TEXT(DAY( {!$Record.litify_pm__Date_of_birth__c} ))&amp;&quot;/&quot;&amp;TEXT(YEAR( {!$Record.litify_pm__Date_of_birth__c} )),&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Party Automation: Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Party Automation: Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Prior_Values</name>
        <label>Prior Values</label>
        <locationX>270</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Date_of_Birth_Set_or_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_or_Updated</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
