unpackaged/main/default/flows/Populate_City_State_County_from_Zip_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Billing_City</name>
        <label>Assign Billing City</label>
        <locationX>1081</locationX>
        <locationY>954</locationY>
        <assignmentItems>
            <assignToReference>svar_PartyUpdate.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Zip_State_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_County</name>
        <label>Assign Billing County</label>
        <locationX>1641</locationX>
        <locationY>701</locationY>
        <assignmentItems>
            <assignToReference>svar_PartyUpdate.litify_pm__lit_Billing_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_County</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Zip_City_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_State</name>
        <label>Assign Billing State</label>
        <locationX>447</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>svar_PartyUpdate.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Shipping_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Variables</name>
        <label>Assign Billing Variables</label>
        <locationX>802</locationX>
        <locationY>169</locationY>
        <assignmentItems>
            <assignToReference>var_ZipCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Party_Details.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Party_Details.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Party_Details.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_County</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Party_Details.litify_pm__lit_Billing_County__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_PartyUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Party_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ObjectField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PartyBilling</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Zipcode_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Variables_0</name>
        <label>Assign Billing Variables</label>
        <locationX>799</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>var_ZipCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Party_Details.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Party_Details.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Party_Details.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_County</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Party_Details.litify_pm__lit_Shipping_County__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_PartyUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Party_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ObjectField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PartyShipping</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Zipcode_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_County</name>
        <label>Assign County</label>
        <locationX>1640</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>var_County</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zipcode_Record.County__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Shipping_County_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matter_City</name>
        <label>Assign Matter City</label>
        <locationX>1157</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>svar_MatterUpdate.litify_pm__Matter_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Zip_State_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matter_County</name>
        <label>Assign Matter County</label>
        <locationX>1487</locationX>
        <locationY>556</locationY>
        <assignmentItems>
            <assignToReference>svar_MatterUpdate.litify_pm__lit_Matter_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_County</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Zip_City_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matter_State</name>
        <label>Assign Matter State</label>
        <locationX>734</locationX>
        <locationY>764</locationY>
        <assignmentItems>
            <assignToReference>svar_MatterUpdate.litify_pm__Matter_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zipcode_Record.State_Code_and_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Shipping_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matter_Variables</name>
        <label>Assign Matter Variables</label>
        <locationX>800</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>var_ZipCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Matter_Details.litify_pm__Matter_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Matter_Details.litify_pm__Matter_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Matter_Details.litify_pm__Matter_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_County</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Matter_Details.litify_pm__lit_Matter_County__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_MatterUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Matter_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ObjectField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Zipcode_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_City</name>
        <label>Assign Shipping City</label>
        <locationX>1263</locationX>
        <locationY>762</locationY>
        <assignmentItems>
            <assignToReference>svar_PartyUpdate.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Zip_State_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_County</name>
        <label>Assign Shipping County</label>
        <locationX>1301</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>svar_PartyUpdate.litify_pm__lit_Shipping_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_County</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Zip_City_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_State</name>
        <label>Assign Shipping State</label>
        <locationX>558</locationX>
        <locationY>966</locationY>
        <assignmentItems>
            <assignToReference>svar_PartyUpdate.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Shipping_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>City_Assignment</name>
        <label>City Assignment</label>
        <locationX>1432</locationX>
        <locationY>945</locationY>
        <assignmentItems>
            <assignToReference>var_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zipcode_Record.City__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Shipping_City_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Matter_Updated</name>
        <label>Matter Updated</label>
        <locationX>449</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>var_MatterUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Update_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Party_Billing_Updated</name>
        <label>Party Billing Updated</label>
        <locationX>662</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>var_BillingUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Update_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Party_Shipping_Updated</name>
        <label>Party Shipping Updated</label>
        <locationX>558</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>var_ShippingUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Update_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>State_Assignment</name>
        <label>State Assignment</label>
        <locationX>882</locationX>
        <locationY>959</locationY>
        <assignmentItems>
            <assignToReference>var_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zipcode_Record.State__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Shipping_State_Assign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Billing_Shipping_City_Assign</name>
        <label>Billing/Shipping City Assign</label>
        <locationX>1256</locationX>
        <locationY>948</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ObjectField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PartyBilling</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_City</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Shipping_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ObjectField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PartyShipping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shipping_City</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
        <rules>
            <name>Matter_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ObjectField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Matter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Matter_City</targetReference>
            </connector>
            <label>Matter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Shipping_County_Assign</name>
        <label>Billing/Shipping County Assign</label>
        <locationX>1632</locationX>
        <locationY>457</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_County</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ObjectField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PartyBilling</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_County</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Shipping_County</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ObjectField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PartyShipping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shipping_County</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
        <rules>
            <name>Matter_County</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ObjectField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Matter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Matter_County</targetReference>
            </connector>
            <label>Matter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Shipping_State_Assign</name>
        <label>Billing/Shipping State Assign</label>
        <locationX>727</locationX>
        <locationY>961</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ObjectField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PartyBilling</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_State</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Shipping_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ObjectField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PartyShipping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shipping_State</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
        <rules>
            <name>Matter_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ObjectField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Matter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Matter_State</targetReference>
            </connector>
            <label>Matter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Shipping_Update</name>
        <label>Billing/Shipping Update</label>
        <locationX>550</locationX>
        <locationY>716</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ObjectField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PartyBilling</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Party_Billing_Updated</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Shipping_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ObjectField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PartyShipping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Party_Shipping_Updated</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
        <rules>
            <name>Matter_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ObjectField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Matter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matter_Updated</targetReference>
            </connector>
            <label>Matter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Check</name>
        <label>Object Check</label>
        <locationX>185</locationX>
        <locationY>291</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Party</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PartyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Party_Details</targetReference>
            </connector>
            <label>Party</label>
        </rules>
        <rules>
            <name>Matter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_MatterID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matter_Details</targetReference>
            </connector>
            <label>Matter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Update_Decisions</name>
        <label>Object Update Decisions</label>
        <locationX>550</locationX>
        <locationY>300</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Party_Details.BillingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_BillingUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Variables</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Party_Details.ShippingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ShippingUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Variables_0</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
        <rules>
            <name>Matter_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_MatterID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_MatterUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Matter_Variables</targetReference>
            </connector>
            <label>Matter</label>
        </rules>
        <rules>
            <name>Update_Party</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ObjectField</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_PartyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Party_Record</targetReference>
            </connector>
            <label>Update Party</label>
        </rules>
        <rules>
            <name>Update_Matter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_MatterID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_MatterUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Matter_Record</targetReference>
            </connector>
            <label>Update Matter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Zip_City_Check</name>
        <label>Zip City Check</label>
        <locationX>1426</locationX>
        <locationY>703</locationY>
        <defaultConnector>
            <targetReference>Zip_State_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>City_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Zipcode_Record.City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_City</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>City_Assignment</targetReference>
            </connector>
            <label>City Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Zip_Code_Found</name>
        <label>Zip Code Found</label>
        <locationX>1121</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ZipCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Zipcode_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zip_County_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Zip_County_Check</name>
        <label>Zip County Check</label>
        <locationX>1432</locationX>
        <locationY>303</locationY>
        <defaultConnector>
            <targetReference>Zip_City_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>County_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Zipcode_Record.County__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_County</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_County</targetReference>
            </connector>
            <label>County Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Zip_State_Check</name>
        <label>Zip State Check</label>
        <locationX>1073</locationX>
        <locationY>715</locationY>
        <defaultConnector>
            <targetReference>Billing_Shipping_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>State_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Zipcode_Record.State__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_State</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>State_Assignment</targetReference>
            </connector>
            <label>State Found</label>
        </rules>
    </decisions>
    <description>Updates the Shipping or Billing details based on the Zip Code. This will only update fields that were previously blank and will not over write existing data.</description>
    <interviewLabel>Populate City, State, County from Zip Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate City, State, County from Zip Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Matter_Details</name>
        <label>Get Matter Details</label>
        <locationX>353</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Object_Update_Decisions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_MatterID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Matter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Party_Details</name>
        <label>Get Party Details</label>
        <locationX>353</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Object_Update_Decisions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PartyID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Zipcode_Record</name>
        <label>Get Zipcode Record</label>
        <locationX>969</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Zip_Code_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ZipCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zip_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Matter_Record</name>
        <label>Update Matter</label>
        <locationX>634</locationX>
        <locationY>86</locationY>
        <inputReference>svar_MatterUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Party_Record</name>
        <label>Update Party</label>
        <locationX>475</locationX>
        <locationY>84</locationY>
        <inputReference>svar_PartyUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>289</locationY>
        <connector>
            <targetReference>Object_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>svar_MatterUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_pm__Matter__c</objectType>
    </variables>
    <variables>
        <name>svar_PartyUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_BillingUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_County</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MatterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MatterUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ObjectField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_PartyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ShippingUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ZipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
